apiVersion: helm.cattle.io/v1
kind: HelmChartConfig
metadata:
  name: rke2-cilium
  namespace: kube-system
spec:
  valuesContent: |-
    cilium:
      tunnel: "disabled"
      autoDirectNodeRoutes: false
      nativeRoutingCIDR: "10.0.0.0/8"